{% extends 'reportes/base.html' %}

{% block content %}

<div class="container mt-4">

    <h2 class="mb-4">Mis Reportes</h2>

    <a href="{% url 'crear_reporte' %}" class="btn btn-primary mb-3">
        Nuevo Reporte
    </a>

    {% for reporte in reportes %}
        <div class="card shadow mb-3">
            <div class="card-body">

                <h5>{{ reporte.titulo }}</h5>
                
                <p class="mb-2 text-muted">
                    <strong>Categoría:</strong> {{ reporte.categoria.nombre }}
                </p>

                <p>{{ reporte.descripcion }}</p>

                <p class="text-muted">
                    <strong>Ubicación:</strong> {{ reporte.lugar_especifico }}
                </p>

                {% if reporte.estado != "RESUELTO" %}
                    {% if reporte.prioridad == "ALTA" %}
                        <span class="badge bg-danger">Urgente</span>
                    {% elif reporte.prioridad == "MEDIA" %}
                        <span class="badge bg-warning text-dark">Media</span>
                    {% elif reporte.prioridad == "BAJA" %}
                        <span class="badge bg-success">Baja</span>
                    {% endif %}
                {% endif %}

                {% if reporte.estado == "RESUELTO" %}
                    <p class="mt-2"><strong>Estado:</strong> <span class="badge bg-success">RESUELTO</span></p>
                {% else %}
                    <p class="mt-2"><strong>Estado:</strong> {{ reporte.estado }}</p>
                {% endif %}

                <div class="mt-3">

                    {% if reporte.estado == "RESUELTO" %}

                        <button class="btn btn-secondary btn-sm" disabled>Editar</button>

                        <a href="{% url 'eliminar_reporte' reporte.pk %}"
                           class="btn btn-danger btn-sm"
                           onclick="return confirm('¿Eliminar?')">
                            Eliminar
                        </a>

                        <button class="btn btn-secondary btn-sm" disabled>Resuelto</button>

                    {% else %}

                        <a href="{% url 'editar_reporte' reporte.pk %}" class="btn btn-warning btn-sm">
                            Editar
                        </a>

                        <a href="{% url 'eliminar_reporte' reporte.pk %}"
                           class="btn btn-danger btn-sm"
                           onclick="return confirm('¿Eliminar?')">
                            Eliminar
                        </a>

                        <a href="{% url 'cambiar_estado' reporte.pk %}" class="btn btn-info btn-sm">
                            Cambiar estado
                        </a>

                    {% endif %}

                </div>

            </div>
        </div>

    {% empty %}
        <div class="alert alert-info">No tienes reportes registrados aún.</div>
    {% endfor %}

</div>

{% endblock %}